@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 2rem;
  align-items: center;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
}

.card {
  background-color: #e4e2cf;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 17rem;
  min-width: 17rem;
  max-width: 30rem;
  height: 22rem;
  max-height: 25rem;
  transition: transform 0.3s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-content h3 {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: "Martel Sans", sans-serif;
}

.card-content p {
  font-size: 13px;
  color: #555;
  font-family: "Martel Sans", sans-serif;
}

.validate {
  background-color: #6a8e66;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Martel Sans", sans-serif;
  font-size: 14px;
  height: 30px;
  line-height: 15px;
  list-style: none;
  margin-top: 75%;
  outline: none;
  padding: 10px 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.validate:hover,
.validate:focus {
  background-color: #bfd0c1;
}

.card-image {
  width: 5em;
  margin-top: 2em;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .validate {
    margin-top: 21%;
    padding: 10px 16px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .card {
    width: 17rem;
    max-width: 17rem;
    max-height: 23rem;
    padding: 1rem;
    display: flex;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
@media (min-width: 1600px) {
  .validate {
    margin-top: 16%;
    padding: 10px 16px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .card {
    width: 17rem;
    max-width: 17rem;
    max-height: 23rem;
    padding: 1rem;
    display: flex;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
