@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

.echanges-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.echanges-titre {
  font-family: "Rufina", serif;
}

.echanges-filters {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.echange-content {
  display: flex;
  flex-direction: column-reverse;
}

.wanted-container {
  background-color: #eceae4;
  border-radius: 0.5em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wanted-title {
  font-family: "Rufina", serif;
  margin-top: 0.2em;
}

@media (min-width: 1024px) {
  .wanted-title {
    font-family: "Rufina", serif;
    margin-top: 1em;
  }

  .wanted-container {
    background-color: #eceae4;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
  }

  .echange-cards {
    width: 85%;
  }

  .echange-content {
    display: flex;
    flex-direction: row;
  }
}
