header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2% 0% 0%; /* Espace intérieur */
  background-color: #fefefe; /* Couleur de fond */
}

/* Logo et Titre */
header .logo-container {
  display: flex;
  align-items: center;
  gap: 2%; /* Espace entre le logo et le titre */
}

header img {
  width: 40%;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000; /* Couleur principale */
}

/* Liens */
header .nav-links {
  display: flex;
  gap: 2rem; /* Espacement entre les liens */
}

header .nav-links h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #212529; /* Couleur des liens */
  cursor: pointer;
  transition: color 0.3s ease;
}

header .nav-links h2:hover {
  color: #007bff; /* Couleur au survol */
  text-decoration: underline;
}
