@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

.acceuil-container {
  border: 3px solid #ccc;
  margin: 10px;
  padding: 10%;
  border-radius: 8px;
  max-width: 100%;
  position: static;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text-container {
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  background-color: #6a8e66;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button:hover {
  background-color: #bfd0c1;
}

/* Media Queries pour les écrans de taille moyenne et plus grande */
@media (min-width: 768px) {
  .acceuil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7%;
    margin-bottom: -10%;
    max-width: 100%;
    padding: 5%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -13%;
    margin-bottom: -12%;
  }

  .image {
    max-width: 60%;
    margin-top: 30%;
  }

  .text-container {
    max-width: 50%;
    text-align: left;
    margin: 0 20px;
    font-size: 80%;
    padding-top: 3%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-left: 42%;
    padding-top: 4%;
  }
}

@media (min-width: 1200px) {
  .acceuil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 2%;
    max-width: 100%;
    padding: 5%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .image {
    max-width: 50%;
  }

  .text-container {
    max-width: 50%;
    text-align: left;
    margin: 0 20px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    margin-left: 40%;
  }
}
